.article-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-nav a{
    text-decoration: none;
    color: white;
    
}
.article-content-container{
    width: 50%;
    min-height: 100vh;
    text-align: start;
}